* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 20px;
    line-height: 1.6;
    color: #333;
    list-style-position: inside;
}
h1 {
    padding: 2%;
    text-align: center;
    background-color: #c1f027;
    color: black;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.text-content {
    flex: 1;
    
    marign: 20px;
}

.img {
    flex: 1;
    margin: 20px;
    text-align: center; /* Centers the image and button */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    
}

button.check-button {
    margin-top: 15px;

   padding: 10px 20px;
    
    background-color: #c1f027;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

button.check-button:hover {
    background-color: #a8d123;
}
H3{
    color: #333;
    margin-top: 2%;
    font-size: xx-large;
}
