
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
    background-color: #c1f027;
    color: black;
    padding: 2%;
    font-size: 2rem;
    margin: 1%;
}


.content-container {
    margin: 2rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.text-content {
    line-height: 1.6;
    font-size: 1.1rem;
}


.upload-section {
    text-align: center;
}

.upload-section h2 {
    margin-bottom: 1rem;
}

.file-button {
    background-color: #c1f027;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem;
}

.file-button:hover {
    background-color: #a5cf20;
}

.analyze-button {
    background-color: #c1f027;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.analyze-button:hover {
    background-color: #a5cf20;
}


.example-section {
    text-align: center;
}

.example-section h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.example-image {
    max-width: 400px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
